<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>domdorns rest-services</display-name>
    <filter>
        <filter-name>OperationTypeFilter</filter-name>
        <filter-class>com.dominikdorn.rest.requestHandling.OperationTypeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>OutputTypeFilter</filter-name>
        <filter-class>com.dominikdorn.rest.requestHandling.OutputTypeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegistryFilter</filter-name>
        <filter-class>com.dominikdorn.rest.requestHandling.RegistryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OperationTypeFilter</filter-name>
        <servlet-name>RestRequestHandlerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OutputTypeFilter</filter-name>
        <servlet-name>RestRequestHandlerServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RegistryFilter</filter-name>
        <servlet-name>RestRequestHandlerServlet</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>com.dominikdorn.rest.listeners.MarshallerListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.dominikdorn.rest.listeners.EncodingNegotiatorListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.dominikdorn.rest.listeners.ApplicationStartupListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.dominikdorn.tuwien.evs.rest.listener.RegisterOnLocationIndexListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RestRequestHandlerServlet</servlet-name>
        <description>The Rest-Service Servlet</description>
        <servlet-class>com.dominikdorn.rest.servlets.RequestHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>com.dominikdorn.rest.servlets.PingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestRequestHandlerServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>